<% include ./includes/header.ejs %>
	<div class="ui main text container segment">
		<div class="ui huge header"><%= blog.title%></div>
		<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%=blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString()%></span>
			</div>
			<div class="description">
				<p><%-blog.body %></p>	<!-- - is the code evealuator-->
			</div>
		</div>
	</div>
	</div>
<% include ./includes/footer.ejs %>
